QWidget {
    background-color: white;
    color: #000000;
}
QProgressBar {
    padding: 0px;
    border: 0px;
    border-radius: 1px;
    text-align: left;
    margin-left: 35px;
}

QProgressBar::chunk {
    background-color: #7c807e;
    text-align: left;
    width: 10px;
    border: 0px;
}

QPushButton{
    border: 1px solid #6C6C6C;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 1px;
    background-color: #F58025;
    color: #000000;
    font-weight: bold;
    min-width: 68px;
    min-height: 18px;
    max-width: 68px;
    max-height: 18px;
}
QPushButton:hover {
    border-radius: 3px;
    margin: 0px;
    border: 1px solid #6C6C6C;
}
QPushButton:focus {
    outline-color: transparent;
    border: 2px solid #C2C6C9;
}
QPushButton:pressed{
    background-color: #6C6C6C;
}
QPushButton:disabled {
    color: #CCCCCC;
    border-color: #808080;
}
QSlider:handle{
    background-color: #F58025;
}
QSlider:handle:hover {
    background: #000000;
}
